body {
  margin: auto;
  background-image: url(https://raw.githubusercontent.com/Build-Week-Bootcamp-Med-Cabinet/marketingPage/master/img/weed-bg.jpg);
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 80%;
  background-color: #a98c6a;
}

header nav {
  width: 40%;
  display: flex;
  text-align: right;
  justify-content: space-evenly;
  font-size: 30px;
}

header nav a {
  text-decoration: none;
  color: #e1e9eb;
}

header nav a a:hover {
  color: #12a324;
  font-weight: bolder;
}

.logopic {
  height: 80px;
  border-radius: 50%;
  margin-right: 13px;
}

.main-content {
  margin: auto;
  width: 80%;
}

.motto,
h1 {
  color: #12a324;
  font-size: 3rem;
  text-decoration-color: #a98c6a;
  text-align: center;
}

.box {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box .image {
  display: flex;
  align-items: center;
}

#mid-image {
  height: 300px;
  width: 300px;
  vertical-align: middle;
}

.text-cont {
  margin: auto;
  height: 600px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text-cont p {
  font-size: 2rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 75px;
  border-radius: 15px;
  background-color: #a98c6a;
  color: white;
  font-size: 30px;
  margin: 10px;
}

p {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

.bottomcontent {
  margin: auto;
  width: 80%;
  display: flex;
}

footer {
  height: 50px;
  width: 80%;
  background-color: #a98c6a;
  opacity: 0.4;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}