/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/weed-bg.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: auto 2%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin: auto;
  padding: 2px;
  width: 75%;
  background-color: #A98C6A;
}
.container .subhead {
  margin: 1% auto;
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .subhead img {
  height: 150px;
  border-radius: 50%;
}
.container .subhead2 {
  width: 70%;
}
.container .subhead2 nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container .subhead2 nav a {
  font-size: 6rem;
  text-decoration: none;
  color: #E1E9EB;
}
.container .subhead2 nav a:hover {
  color: #05386B;
}
.main-content {
  display: flex;
  justify-content: flex-between;
  align-items: center;
  margin: 5% auto;
  padding: 0;
  width: 75%;
}
.main-content .image-cont {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
}
.main-content .image-cont img {
  width: 95%;
  height: 500px;
}
.main-content .text-cont {
  height: 100%;
  margin: auto;
  max-height: 500px;
  margin: 5% auto;
  padding: 10px;
  width: 75%;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main-content .text-cont h1 {
  color: #E1E9EB;
  margin: 2.5% auto;
  font-size: 8rem;
  text-decoration: underline;
  text-decoration-color: #A98C6A;
}
.main-content .text-cont p {
  margin: 7% auto;
  padding: 2% auto;
  font-size: 4rem;
  color: #E1E9EB;
}
.main-content .text-cont button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 45px;
  border-radius: 15px;
  background-color: #A98C6A;
  color: #E1E9EB;
  font-size: 2.5rem;
  margin: 5% auto;
}
@media (max-width: 500px) {
  .main-content .text-cont button {
    width: 100%;
  }
}
.main-content .text-cont button:hover {
  background-color: #12A324;
  color: #C3D4AD;
}
